Repository fga-eps-mds/2020.2-Projeto-Kokama-Front-end, pull requests merged in 2021-05, with the labels that each got.

#21 163 social share
  projeto-kokama/package.json
  projeto-kokama/src/assets/img/share.png
  projeto-kokama/src/screens/Translation/index.tsx
  projeto-kokama/src/screens/Translation/styles.ts
  projeto-kokama/yarn.lock
Labels: 0-MDS, 1-Frontend

#25 Fixes before deadline
  projeto-kokama/App.tsx
  projeto-kokama/app.json
  projeto-kokama/env-reference
  projeto-kokama/src/__tests__/sampleTest.test.ts
  projeto-kokama/src/assets/img/story.jpg
  projeto-kokama/src/components/History.tsx
  projeto-kokama/src/components/HistoryTitle.tsx
  projeto-kokama/src/components/StoryList.tsx
  projeto-kokama/src/components/TopMenu.tsx
  projeto-kokama/src/screens/About/index.tsx
  projeto-kokama/src/screens/About/membersData.ts
  projeto-kokama/src/screens/Activity/index.tsx
  projeto-kokama/src/screens/Activity/styles.ts
  projeto-kokama/src/screens/KokamaStories/index.tsx
  projeto-kokama/src/screens/KokamaStories/styles.ts
  projeto-kokama/src/screens/Learning/index.tsx
  projeto-kokama/src/screens/Learning/styles.ts
  projeto-kokama/src/screens/Story/index.tsx
  projeto-kokama/src/screens/Story/styles.ts
  projeto-kokama/src/screens/Translation/index.tsx
  projeto-kokama/src/screens/Translation/styles.ts
  projeto-kokama/src/utils/activity.ts
  projeto-kokama/src/utils/dictionary.ts
  projeto-kokama/src/utils/translation.test.ts
Labels: 0-MDS, 1-Frontend, 3-Technical Story

#24 189 unit test frontend
  projeto-kokama/App.tsx
  projeto-kokama/package.json
  projeto-kokama/src/__tests__/components/__snapshots__/history.test.ts.snap
  projeto-kokama/src/__tests__/components/__snapshots__/topMenu.test.ts.snap
  projeto-kokama/src/__tests__/components/history.test.ts
  projeto-kokama/src/__tests__/components/storyList.test.ts
  projeto-kokama/src/__tests__/components/topMenu.test.ts
  projeto-kokama/src/__tests__/sampleTest.test.ts
  projeto-kokama/src/__tests__/screens/__snapshots__/about.test.ts.snap
  projeto-kokama/src/__tests__/screens/__snapshots__/learning.test.ts.snap
  projeto-kokama/src/__tests__/screens/__snapshots__/story.test.ts.snap
  projeto-kokama/src/__tests__/screens/about.test.ts
  projeto-kokama/src/__tests__/screens/learning.test.ts
  projeto-kokama/src/__tests__/screens/story.test.ts
  projeto-kokama/src/__tests__/utils/activity.test.ts
  projeto-kokama/src/__tests__/utils/dictionary.test.ts
  projeto-kokama/src/__tests__/utils/translation.test.ts
  projeto-kokama/src/components/History.tsx
  projeto-kokama/src/components/SpinnerLoading.tsx
  projeto-kokama/src/components/StoryList.tsx
  projeto-kokama/src/components/TopMenu.tsx
  projeto-kokama/src/screens/About/index.tsx
  projeto-kokama/src/screens/Translation/index.tsx
  projeto-kokama/src/utils/activity.ts
  projeto-kokama/src/utils/dictionary.ts
  projeto-kokama/yarn.lock
Labels: 0-MDS, 1-Backend, 1-Frontend, 3-Technical Story
